
body {
    background-color: #181111;
    font-family: Arial;
    margin:0px;
}

header a:visited{
    color:#FBD3CB;
}

header a:link{
    color:#FBD3CB;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}


.R{
    font-size: 38px;
    text-decoration: underline;
    font-weight: bold;
    color:#FBD3CB;
}


nav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


li{
    margin-left:50px;
    margin-right:50px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.R{
    font-size: 38px;
    text-decoration: underline;
    font-weight: bold;
    color:#FBD3CB;
}






.container{
    min-width: 100%;
    padding-top: 300px;
    padding-bottom: 300px;
    position: relative;
    background-color: #1F1513;
}

.content{
    margin-left: 50px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-txt{
    display:flex;
    flex-direction: column;
}

.content-txt>h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 80px;
    color: #FBD3CB;
}

.content-txt>p{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #FBD3CB;
}

.content-btn{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #E54D2E;
    border-radius: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FBD3CB;
    border:none;
    font-size:14px;
}

.content-btn:active{
    color: #E54D2E;
    background-color: #FBD3CB;
}












footer{
    padding-top: 50px;
    padding-bottom:50px;
}

.footer-content{
    display:flex;
    align-items: center;
    justify-content: center;
}


.footer-content>a{
    margin-left: 25px;
    margin-right:25px;
}

